
<!-- block config
- var nav = "alerts";
- var title = "Avisos";


h3.tit.tit--h3 Aviso informativo
.ds-sample
	+mngAlert("info","Sincronizar")
		| Aviso Informativo (info)
pre
	code.language-html
		:markdown-it
			<div class="c-mngAlert c-mngAlert--info" role="status">
				<p class="c-mngAlert__txt">Aviso Informativo</p>
				<button class="c-mngAlert__btn"><span class="c-mngLink">Sincronizar</span></button>
			</div>

h3.tit.tit--h3 Aviso destacado (warning)
.ds-sample
	+mngAlert("warning","Sincronizar")
		| Aviso destacado
pre
	code.language-html
		:markdown-it
			<div class="c-mngAlert c-mngAlert--warning" role="status">
				<p class="c-mngAlert__txt">Aviso importante</p>
				<button class="c-mngAlert__btn"><span class="c-mngLink">Sincronizar</span></button>
			</div>

h3.tit.tit--h3 Aviso bloqueante (error)
.ds-sample
	+mngAlert("error","Sincronizar")
		| Aviso bloqueante
pre
	code.language-html
		:markdown-it
			<div class="c-mngAlert c-mngAlert--error" role="status">
				<p class="c-mngAlert__txt">Aviso bloqueante</p>
				<button class="c-mngAlert__btn"><span class="c-mngLink">Sincronizar</span></button>
			</div>

h3.tit.tit--h3 Aviso de éxito (success) + icono
.ds-sample
	+mngAlert("success")
		| Aviso de éxito
pre
	code.language-html
		:markdown-it
			<div class="c-mngAlert c-mngAlert--success" role="status">
				<p class="c-mngAlert__txt">Aviso de éxito</p>
				<button class="c-mngAlert__btn">
					<svg class="o-mngIco o-mngIco--close c-mngAlert__ico">
						<use xlink:href="/icons/sprite.svg#close"></use>
					</svg>
				</button>
			</div>
-->