mixin mngBreadCrumb()
  ol.c-mngBreadCrumb
    li.c-mngBreadCrumb__item
      a.c-mngLink(href='#') Books
    li.c-mngBreadCrumb__item
      a.c-mngLink(href='#') Science Fiction
    li.c-mngBreadCrumb__item
      a.c-mngLink(href='#') Award Winners