mixin mngDrop()
	.c-mngDrop
		p.c-mngDrop__btn Selecciona una tienda...
		.c-mngDrop__container
			ul.c-mngDrop__list
				li.c-mngDrop__item
					a.c-mngDrop__link(href='#') Option 1
				li.c-mngDrop__item
					a.c-mngDrop__link(href='#') Option 2
				li.c-mngDrop__item
					a.c-mngDrop__link(href='#') Option 3
				li.c-mngDrop__item
					a.c-mngDrop__link(href='#') Option 4
				li.c-mngDrop__item
					a.c-mngDrop__link(href='#') Option 5