extends main.view.pug

block content
  .row
    .col-xs-offset-1.col-xs-10.col-md-12.col-md-offset-0
      header.ds-intro
        p.ds-intro__family
          | Componentes
        h2 #{title}
  .ds-tabs
    .row
      .col-xs-12.col-md-12.col-md-offset-0
        ul.ds-tabs__list
          li.ds-tabs__item
            a.ds-tabs__link.is-active(href="#tab1")
              | Código
          li.ds-tabs__item
            a.ds-tabs__link(href="#tab2")
              | Uso
    .row
      .col-xs-offset-1.col-xs-10.col-md-12.col-md-offset-0
        .ds-tabs__content
          .ds-tabs__panel(id="tab1")
            .row
              .col-xs.col-lg-9.col-hd-6
                .ds-headLine
                  .ds-headLine__txt
                    block codeHead
            .row
              .col-xs.col-lg-11.col-hd-8
                block codeBody
          .ds-tabs__panel.u-hidden(id="tab2")
            .row
              .col-xs.col-lg-11.col-hd-8
                block use
        .row
          .col-xs
            block paginator