
<!-- components-->
<!-- BUTTONS-->
<!-- LINKS--><!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Voz y tono - Design System?</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="../../common/styles/css.css">
    <link rel="stylesheet" href="../../common/ds.css">
  </head>
  <body>
    <header class="ds-mainHeader">
      <h1></h1>
      <button class="ds-mainHeader__btn"><span class="ds-mainHeader__btnLine"></span></button>
      <nav class="ds-mainNav">
        <ul class="ds-mainNav__list">
          <li class="ds-mainNav__item"><b class="ds-mainNav__tit">Diseño
              <!--+svg-icon("right")(class="o-mngIco--ml")--></b>
            <ul class="ds-mainNav__subList">
                    <li class="ds-mainNav__item"><a class="ds-mainNav__link" href="/app/views/design/design.colors.view.html">Colores</a></li>
                    <li class="ds-mainNav__item"><a class="ds-mainNav__link" href="/app/views/design/design.grid.view.html">Grid</a></li>
                    <li class="ds-mainNav__item"><a class="ds-mainNav__link" href="/app/views/design/design.layout.view.html">Layout</a></li>
                    <li class="ds-mainNav__item"><a class="ds-mainNav__link" href="/app/views/design/design.type.view.html">Tipografía</a></li>
                    <li class="ds-mainNav__item"><a class="ds-mainNav__link is-active" href="/app/views/design/design.voice.view.html">Voz y tono</a></li>
            </ul>
          </li>
          <li class="ds-mainNav__item"><strong class="ds-mainNav__tit">Componentes</strong>
            <ul class="ds-mainNav__subList">
                    <li class="ds-mainNav__item"><a class="ds-mainNav__link" href="/app/views/components/components.button.view.html">Botones</a></li>
                    <li class="ds-mainNav__item"><a class="ds-mainNav__link" href="/app/views/components/components.breadcrumb.view.html">Breadcrumb</a></li>
                    <li class="ds-mainNav__item"><a class="ds-mainNav__link" href="/app/views/components/components.checkbox.view.html">Checkbox</a></li>
                    <li class="ds-mainNav__item"><a class="ds-mainNav__link" href="/app/views/components/components.links.view.html">Enlaces</a></li>
                    <li class="ds-mainNav__item"><a class="ds-mainNav__link" href="/app/views/components/components.input.view.html">Input</a></li>
                    <li class="ds-mainNav__item"><a class="ds-mainNav__link" href="/app/views/components/components.radio.view.html">Radios</a></li>
                    <li class="ds-mainNav__item"><a class="ds-mainNav__link" href="/app/views/components/components.tabs.view.html">Tabs</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <article>
        <header class="ds-intro">
          <div class="container">
            <div class="row">
              <div class="col-xs-offset-1 col-xs-10 col-md-12 col-md-offset-0 col-lg-offset-4 col-lg-8 col-hd-offset-3 col-hd-9">
                <p class="ds-intro__family">Diseño</p>
                <h2>Voz y tono</h2>
                <div class="row">
                  <div class="col-xs col-lg-9 col-hd-6">
                    <div class="ds-headLine"><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, tempora? Facilis aperiam sunt obcaecati ut tenetur itaque impedit fuga laudantium perferendis totam doloremque consequatur dolorem velit, sequi aut! Odio, totam?</p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="container">
          <div class="row">
            <div class="col-xs col-lg-offset-4 col-lg-8 col-hd-offset-3 col-hd-9">
              <div class="ds-tabs">
                <div class="row">
                  <div class="col-xs-12 col-md-12 col-md-offset-0">
                    <ul class="ds-tabs__list">
                      <li class="ds-tabs__item"><a class="ds-tabs__link is-active" href="#tab1">Cuestiones generales</a></li>
                      <li class="ds-tabs__item"><a class="ds-tabs__link" href="#tab2">Tono</a></li>
                      <li class="ds-tabs__item"><a class="ds-tabs__link" href="#tab3">Ortotipografía</a></li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-offset-1 col-xs-10 col-md-12 col-md-offset-0">
                    <div class="ds-tabs__content">
                      <div class="ds-tabs__panel" id="tab1">
                        <div class="row">
                          <div class="col-xs col-lg-11 col-hd-8">
                            <section>
                              <p style="margin-top: 4rem">El texto debe ser comprensible para cualquiera, en cualquier lugar, independientemente de su cultura o idioma. Para conseguirlo te damos una serie de buenas prácticas:</p>
                              <h3>Escribe de manera clara, precisa y concisa</h3>
                              <p>  Así las interfaces seran más utilizables y crea confianza. Para ello usa la:
                                <ul class="ds-list">
                                  <li class="ds-list__item">
                                    <p> <strong>Segunda persona ("tu" o "tus“) </strong>en la mayoría de las situaciones, como si la aplicación estuviera hablando directamente al usuario.</p><img class="ds-img" src="../../../assets/img/design/voice/general/modal2pers.png" alt="En segunda persona">
                                  </li>
                                  <li class="ds-list__item">
                                    <p><strong>Primera persona ("yo" o "mi“) solo cuando quieras </strong>enfatizar la propiedad del usuario sobre el contenido o las acciones.</p><img class="ds-img" src="../../../assets/img/no-image.png" alt="Sé conciso" style="width:50%;">
                                  </li>
                                </ul>
                              </p>
                              <p>Evita mezclar "mí" / "mi" con "usted" / "su". Puede causar confusión ver ambas formas de dirigirse al usuario en el mismo contexto.</p>
                              <h3>Evita el pronombre "nosotros"</h3>
                              <p>Concéntrate en el usuario y en lo éste puede hacer con la aplicación, en lugar de lo que tú o la aplicación estáis haciendo por el usuario.</p>
                              <p>Excepcionalmente podemos usarlo  cuando una persona realiza una acción para un usuario, como por ejemplo responder a una sugerencia. Aquí, el uso de "nosotros" es apropiado.</p><img class="ds-img" src="../../../assets/img/design/voice/general/pronombrenosotros.png" alt="Evita el pronombre nosotros">
                              <h3>Sé conciso</h3>
                              <p>Los textos deben ser cortos, escaneables y segmentados para facilitar la navegación.<img class="ds-img" src="../../../assets/img/design/voice/general/conciso.png" alt="Sé conciso"></p>
                              <h3>Escribe simple y directamente</h3>
                              <p>Usa un lenguaje simple y directo que sea fácil de entender por los usuarios.<br>Las frases introductorias comunes pueden omitirse.</p><img class="ds-img" src="../../../assets/img/no-image.png" alt="Sé conciso" style="width:50%;">
                              <h3>Escribe para lectores de todos los niveles</h3>
                              <p>Usa palabras habituales, que sean fácilmente entendibles por nuestros usuarios. Evita terminología técnica demasiado específica.</p>
                              <div class="ds-doDont u-spacer--3">
                                <div class="row">
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--do">
                                      <p><span class="ds-doDont__check">Correcto</span><span>Preparando video</span></p>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--dont">
                                      <p><span class="ds-doDont__check">Incorrecto</span><span>Buffering</span></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <p class="u-spacer--5">Las acciones deben recomendarse indicando el nombre de los literales que aparecen en la interfaz, no el tipo de elemento (como menú o botón).</p>
                              <div class="ds-doDont u-spacer--3">
                                <div class="row">
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--do">
                                      <p><span class="ds-doDont__check">Correcto</span><span>Haz clic en continuar</span></p>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--dont">
                                      <p><span class="ds-doDont__check">Incorrecto</span><span>Haz clic en el botón continuar</span></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <h3>Usa los verbos de manera consistente en diferentes acciones</h3>
                              <p>Si usas un verbo en concreto continúa usándolo en diferentes situaciones. </p>
                              <div class="ds-doDont u-spacer--3">
                                <div class="row">
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--do">
                                      <p><span class="ds-doDont__check">Correcto</span><span>Eliminar foto<br>¿Eliminar foto?</span></p>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--dont">
                                      <p><span class="ds-doDont__check">Incorrecto</span><span>Borrar foto<br>¿Eliminar foto de la página?</span></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <h3>Género y número</h3>
                              <p>No combines opciones de género o número como "él/ella" o "él/ella", producto/s, etc. En general, opta siempre que sea posible por el masculino plural.</p>
                              <p>Por ejemplo: Los productos se han añadido correctamente al carrito.</p>
                              <h3>Empieza con el objetivo</h3>
                              <p>Si una oración describe tanto un objetivo como la acción necesaria para lograr ese objetivo, comienza la oración con el objetivo</p>
                              <div class="ds-doDont u-spacer--3">
                                <div class="row">
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--do">
                                      <p><span class="ds-doDont__check">Correcto</span><span>Para eliminar una foto de este álbum, arrástrala a la papelera</span></p>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--dont">
                                      <p><span class="ds-doDont__check">Incorrecto</span><span>Arrastra una foto a la papelera para eliminarla de este álbum.</span></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <h3>Ve revelando los detalles según la necesidad</h3>
                              <p>No es necesario dar todos los detalles al principio, es mejor ir dando los detalles a medida que el usuario navega y va necesitando más información.</p>
                              <div class="ds-doDont u-spacer--3">
                                <div class="row">
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--do">
                                      <p><span class="ds-doDont__check">Correcto</span><span>¿Eliminar el archivo descargado? </span></p>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--dont">
                                      <p><span class="ds-doDont__check">Incorrecto</span><span>¿Estás seguro de eliminar el archivo que has descargado? No podrás recuperarlo a menos que estés en línea.</span></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <h3>Nunca digas "nunca"</h3>
                              <p>Evita la palabra “nunca” y usa otras alternativas.</p>
                              <div class="ds-doDont u-spacer--3">
                                <div class="row">
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--do">
                                      <p><span class="ds-doDont__check">Correcto</span><span>Tus datos no serán compartidos </span></p>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--dont">
                                      <p><span class="ds-doDont__check">Incorrecto</span><span>Nunca compartiremos tus datos</span></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                          </div>
                        </div>
                      </div>
                      <div class="ds-tabs__panel u-hidden" id="tab2">
                        <div class="row">
                          <div class="col-xs col-lg-11 col-hd-8">
                            <section>
                              <h3>Sé amigable, respetuoso y focalízate en el usuario.</h3>
                              <p>El texto de una aplicación debe complementar su diseño: debe ser intuitivo, eficiente, casual y confiable.</p>
                              <div class="ds-doDont u-spacer--3">
                                <div class="row">
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--do">
                                      <p><span class="ds-doDont__check">Correcto</span><span>XXX no responde ¿Quieres cerrarla?</span></p>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--dont">
                                      <p><span class="ds-doDont__check">Incorrecto</span><span>¡Lo sentimos!<br>La actividad en YYYY no responde.</span></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <h3>Sé humilde</h3>
                              <p>Revela lo que hace la funcionalidad, sin alardear mucho o ser demasiado prometedor. </p>
                              <div class="ds-doDont u-spacer--3">
                                <div class="row">
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--do">
                                      <p><span class="ds-doDont__check">Correcto</span><span>Todos tus pedidos en un solo lugar.</span></p>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--dont">
                                      <p><span class="ds-doDont__check">Incorrecto</span><span>Absolutamente todo lo que hagas en un sitio que te encantará.</span></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <h3>Sé positivo</h3>
                              <p>Presenta la información de manera positiva: es tranquilizador.</p>
                              <div class="ds-doDont u-spacer--3">
                                <div class="row">
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--do">
                                      <p><span class="ds-doDont__check">Correcto</span><span>Inténtalo de nuevo.</span></p>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--dont">
                                      <p><span class="ds-doDont__check">Incorrecto</span><span>La acción ha fallado.</span></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <h3>Sé esencial</h3>
                              <p>Comunica solo los detalles esenciales para que los usuarios puedan enfocarse en sus propias tareas. A veces, la interfaz de usuario más efectiva no contiene ningún texto.</p>
                              <div class="ds-doDont u-spacer--3">
                                <div class="row">
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--do">
                                      <p><span class="ds-doDont__check">Correcto</span><span>Iniciando sesión...Estamos conectando con el servidor. El proceso puede tardar hasta cinco minutos.</span></p>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--dont">
                                      <p><span class="ds-doDont__check">Incorrecto</span><span>Iniciando sesión...La aplicación tiene que  comunicarse con nuestros servidores para poder iniciar sesión correctamente. Ten paciencia, el proceso puede tardar hasta cinco minutos.</span></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <h3>Tiempos verbales</h3>
                              <p>Usa la voz activa como norma, te ayudará a conseguir implicar al usuario directamente en la decisión.</p>
                              <div class="ds-doDont u-spacer--3">
                                <div class="row">
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--do">
                                      <p><span class="ds-doDont__check">Correcto</span><span>Usa la voz activa como norma, te ayudará a conseguir implicar al usuario directamente en la decisión.</span></p>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--dont">
                                      <p><span class="ds-doDont__check">Incorrecto</span><span>Se han introducido más de 99 unidades, ¿el proceso debe continuarse?  </span></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <p class="u-spacer--3">La voz pasiva, en cambio, es muy útil cuando no queremos culpar al usuario o evitar sonar sentenciosos.</p>
                              <div class="ds-doDont u-spacer--3">
                                <div class="row">
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--do">
                                      <p><span class="ds-doDont__check">Correcto</span><span>El valor introducido no es correcto.</span></p>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--dont">
                                      <p><span class="ds-doDont__check">Incorrecto</span><span>Has introducido un valor incorrecto.</span></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                          </div>
                        </div>
                      </div>
                      <div class="ds-tabs__panel u-hidden" id="tab3">
                        <div class="row">
                          <div class="col-xs col-lg-11 col-hd-8">
                            <section>
                              <h3>"1, 2, 3” en vez de  “uno, dos, tres"</h3>
                              <p>Excepto cuando se dan diferentes usos a los números en una misma frase. Por ejemplo, Introduce dos de los 3.</p>
                              <div class="ds-doDont u-spacer--3">
                                <div class="row">
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--do">
                                      <p><span class="ds-doDont__check">Correcto</span><span>Tienes 3 mensajes</span></p>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--dont">
                                      <p><span class="ds-doDont__check">Incorrecto</span><span>Tienes tres mensajes</span></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <h3>Mayúsculas y minúsculas.</h3>
                              <p>Los títulos, encabezados, etiquetas y elementos de menú deben tener la inicial en mayúsculas y el resto del texto en minúsculas (a no ser que haya un nombre propio, en cuyo caso pondremos la inicial también en mayúsculas).</p>
                              <div class="ds-doDont u-spacer--3">
                                <div class="row">
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--do">
                                      <p><span class="ds-doDont__check">Correcto</span><span>Mi tienda<br>Mi agenda<br>Mis solicitudes</span></p>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--dont">
                                      <p><span class="ds-doDont__check">Incorrecto</span><span>MI TIENDA</span></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <h3>Días de la semana, meses y estaciones.</h3>
                              <p>Siempre en minúsculas (excepto si van al comienzo de frase o después de un punto)</p>
                              <div class="ds-doDont u-spacer--3">
                                <div class="row">
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--do">
                                      <p><span class="ds-doDont__check">Correcto</span><span>El archivo se enviará todos los lunes</span></p>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 col-md-6 ds-doDont__box">
                                    <div class="ds-doDont__wrap"><img class="ds-doDont__img" alt="" src="../../../assets/img/no-image.png"></div>
                                    <div class="ds-doDont__txt ds-doDont__txt--dont">
                                      <p><span class="ds-doDont__check">Incorrecto</span><span>El archivo se enviará todos los Lunes.</span></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-md-12 col-md-offset-0">
              <div class="ds-paginator u-flex"><a class="ds-paginator__link" href="/app/views/design/design.type.view.html">
                  <div class="ds-paginator__wrap"><img src="../../../assets/img/btn-prev.png" alt=""/>
                    <div class="ds-paginator__btn"><span class="ds-paginator__label">Anterior</span><span class="ds-paginator__tit">Tipografía</span></div>
                  </div></a><a class="ds-paginator__link is-right" href="/app/views/components/components.button.view.html">
                  <div class="ds-paginator__wrap">
                    <div class="ds-paginator__btn"><span class="ds-paginator__label">Siguiente</span><span class="ds-paginator__tit">Buttons</span></div><img src="../../../assets/img/btn-next.png" alt=""/>
                  </div></a>
              </div>
            </div>
          </div>
        </div>
      </article>
      <footer class="ds-footer">
        <!--p © 2018 XXXXX Todos los derechos reservados-->
      </footer>
    </main>
    <div class="ds-overlay"></div>
    <script src="../../common/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="../../common/js/js.js"></script>
  </body>
</html>