extends ../../_layouts/design-tabs.view.pug

block config
    - var active = "Voice & tone";
    - var title = active;

block codeHead
    //:markdown-it
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, tempora? Facilis aperiam sunt obcaecati ut tenetur itaque impedit fuga laudantium perferendis totam doloremque consequatur dolorem velit, sequi aut! Odio, totam?

block general
    section
        p(style="margin-top: 4rem") El texto debe ser comprensible para cualquiera, en cualquier lugar, independientemente de su cultura o idioma. Para conseguirlo te damos una serie de buenas prácticas:
        h3 Escribe de manera clara, precisa y concisa
        p   Así las interfaces seran más utilizables y crea confianza. Para ello usa la:
            ul.ds-list
                li.ds-list__item
                    p 
                        strong Segunda persona ("tu" o "tus“) 
                        |en la mayoría de las situaciones, como si la aplicación estuviera hablando directamente al usuario.
                    img(src='../../../assets/img/design/voice/general/modal2pers.png', alt='En segunda persona', class="ds-img")
                li.ds-list__item
                    p
                        strong Primera persona ("yo" o "mi“), 
                        |solo cuando quieras enfatizar la propiedad del usuario sobre el contenido o las acciones.
                    img(src='../../../assets/img/no-image.png', alt='Sé conciso', class="ds-img", style="width:50%;")
        p Evita mezclar "mí" / "mi" con "usted" / "su". Puede causar confusión ver ambas formas de dirigirse al usuario en el mismo contexto.

        h3 Evita el pronombre "nosotros"
        p Concéntrate en el usuario y en lo éste puede hacer con la aplicación, en lugar de lo que tú o la aplicación estáis haciendo por el usuario.
        p Excepcionalmente podemos usarlo  cuando una persona realiza una acción para un usuario, como por ejemplo responder a una sugerencia. Aquí, el uso de "nosotros" es apropiado.
        img(src='../../../assets/img/design/voice/general/pronombrenosotros.png', alt='Evita el pronombre nosotros', class="ds-img")

        h3 Sé conciso
        p Los textos deben ser cortos, escaneables y segmentados para facilitar la navegación.
            img(src='../../../assets/img/design/voice/general/conciso.png', alt='Sé conciso', class="ds-img")

        h3 Escribe simple y directamente
        p Usa un lenguaje simple y directo que sea fácil de entender por los usuarios.
            br 
            |Las frases introductorias comunes pueden omitirse.
        img(src='../../../assets/img/design/voice/general/write-simply-and-directly.png', alt='Sé conciso', class="ds-img")

        h3 Escribe para lectores de todos los niveles
        p Usa palabras habituales, que sean fácilmente entendibles por nuestros usuarios. Evita terminología técnica demasiado específica.
        .ds-doDont.u-spacer--3
            .row
                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/design/voice/general/1-A.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--do
                        p
                            span.ds-doDont__check
                                |Correcto
                            span Preparando video
                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/design/voice/general/1-B.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--dont
                        p
                            span.ds-doDont__check
                                |Incorrecto
                            span Buffering
        p.u-spacer--5 Las acciones deben recomendarse indicando el nombre de los literales que aparecen en la interfaz, no el tipo de elemento (como menú o botón).
        .ds-doDont.u-spacer--3
            .row
                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/design/voice/general/2-A.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--do
                        p
                            span.ds-doDont__check
                                |Correcto
                            span Haz clic en continuar
                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/design/voice/general/2-B.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--dont
                        p
                            span.ds-doDont__check
                                |Incorrecto
                            span Haz clic en el botón continuar

        h3 Usa los verbos de manera consistente en diferentes acciones
        p Si usas un verbo en concreto continúa usándolo en diferentes situaciones. 
        .ds-doDont.u-spacer--3
            .row
                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/design/voice/general/3-A.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--do
                        p
                            span.ds-doDont__check
                                |Correcto
                            span Eliminar foto
                                br 
                                |¿Eliminar foto?
                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/design/voice/general/3-B.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--dont
                        p
                            span.ds-doDont__check
                                |Incorrecto
                            span Borrar foto
                                br 
                                |¿Eliminar foto de la página?

        h3 Género y número
        p No combines opciones de género o número como "él/ella" o "él/ella", producto/s, etc. En general, opta siempre que sea posible por el masculino plural.
        p Por ejemplo: Los productos se han añadido correctamente al carrito.

        h3 Empieza con el objetivo
        p Si una oración describe tanto un objetivo como la acción necesaria para lograr ese objetivo, comienza la oración con el objetivo
        .ds-doDont.u-spacer--3
            .row
                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/design/voice/general/4-A.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--do
                        p
                            span.ds-doDont__check
                                |Correcto
                            span Para eliminar una foto de este álbum, arrástrala a la papelera
                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/design/voice/general/4-B.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--dont
                        p
                            span.ds-doDont__check
                                |Incorrecto
                            span Arrastra una foto a la papelera para eliminarla de este álbum.

        h3 Ve revelando los detalles según la necesidad
        p No es necesario dar todos los detalles al principio, es mejor ir dando los detalles a medida que el usuario navega y va necesitando más información.
        .ds-doDont.u-spacer--3
            .row
                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/design/voice/general/5-A.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--do
                        p
                            span.ds-doDont__check
                                |Correcto
                            span ¿Eliminar el archivo descargado? 
                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/design/voice/general/5-B.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--dont
                        p
                            span.ds-doDont__check
                                |Incorrecto
                            span ¿Estás seguro de eliminar el archivo que has descargado? No podrás recuperarlo a menos que estés en línea.

        h3 Nunca digas "nunca"
        p Evita la palabra “nunca” y usa otras alternativas.
        .ds-doDont.u-spacer--3
            .row
                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/design/voice/general/6-A.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--do
                        p
                            span.ds-doDont__check
                                |Correcto
                            span Tus datos no serán compartidos 
                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/design/voice/general/6-B.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--dont
                        p
                            span.ds-doDont__check
                                |Incorrecto
                            span Nunca compartiremos tus datos

        h3 Algunos ejemplos de texto para botones y elementos relacionados	
        table.ds-table
            thead
                +thead-row(["Botón","Uso"])
            tbody
                +tbody-row(["Expresar acción","Ver arriba el uso de los verbos con consistencia."])
                +tbody-row(["Atràs","Permite retroceder procesos con varios pasos."])
                +tbody-row(["Cancelar","Cancelar una acción."])
                +tbody-row(["Hecho","Confirma la finalización de un proceso de varios pasos."])
                +tbody-row(["OK","Hace que un mensaje o diálogo desaparezca sin consecuencias."])
                +tbody-row(["Siguiente","Lleva al usuario al siguiente paso de un proceso de varios pasos."])
                +tbody-row(["Seguir leyendo","Textos largos (noticias, manuales): Lleva al usuario a contenido adicional."])
                +tbody-row(["Más detalles","Aplicaciones: Lleva al usuario a más contenido, información."])
                +tbody-row(["No, gracias","Permite al usuario declinar un ofrecimiento o posibilidad."])
                +tbody-row(["Ahora no","Permite al usuario posponer una acción o decisión. Usar solo cuando la llamada a la acción en el diálogo sea esencial para la funcionalidad del producto, por razones legales o por otro motivo urgente."])
                +tbody-row(["De acuerdo","Permite al usuario confirmar una acción relevante para la tarea en cuestión."])
                +tbody-row(["Omitir","Permite al usuario evitar una interrupción y seguir con una tarea."])


        h3 Escritura global		
        p Las aplicaciones tienen que ser entendidas por personas de todas las edades, culturas y niveles educativos. Una escritura simple y claro hace que sea fácil para cualquiera comprender su producto.                                                                                                                                                                                                                                                                                                                                                                                                                                                                     		
        p Ten en cuenta el uso de los términos "izquierda" y "derecha" ya que hay idiomas en los que la dirección de la escritura es diferente (árabe, hebreo).		
        //img(alt="", src='/assets/img/no-image.png', class="ds-img", style="width:50%;")
        .row
            .col-xs-12.col-md-6
                img(alt="", src='../../../assets/img/design/voice/general/7-A.png', class="ds-img", style="width:70%;")

            .col-xs-12.col-md-6
                img(alt="", src='../../../assets/img/design/voice/general/7-B.png', class="ds-img", style="width:70%;")


block tone
    section
        h3 Sé amigable, respetuoso y focalízate en el usuario.
        p El texto de una aplicación debe complementar su diseño: debe ser intuitivo, eficiente, casual y confiable.
        .ds-doDont.u-spacer--3
            .row
                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/no-image.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--do
                        p
                            span.ds-doDont__check
                                |Correcto
                            span XXX no responde ¿Quieres cerrarla?

                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/no-image.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--dont
                        p
                            span.ds-doDont__check
                                |Incorrecto
                            span ¡Lo sentimos!
                                br 
                                |La actividad en YYYY no responde.

        h3 Sé humilde
        p Revela lo que hace la funcionalidad, sin alardear mucho o ser demasiado prometedor. 
        .ds-doDont.u-spacer--3
            .row
                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/no-image.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--do
                        p
                            span.ds-doDont__check
                                |Correcto
                            span Todos tus pedidos en un solo lugar.

                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/no-image.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--dont
                        p
                            span.ds-doDont__check
                                |Incorrecto
                            span Absolutamente todo lo que hagas en un sitio que te encantará.

        h3 Sé positivo
        p Presenta la información de manera positiva: es tranquilizador.
        .ds-doDont.u-spacer--3
            .row
                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/no-image.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--do
                        p
                            span.ds-doDont__check
                                |Correcto
                            span Inténtalo de nuevo.

                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/no-image.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--dont
                        p
                            span.ds-doDont__check
                                |Incorrecto
                            span La acción ha fallado.

        h3 Sé esencial
        p Comunica solo los detalles esenciales para que los usuarios puedan enfocarse en sus propias tareas. A veces, la interfaz de usuario más efectiva no contiene ningún texto.
        .ds-doDont.u-spacer--3
            .row
                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/no-image.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--do
                        p
                            span.ds-doDont__check
                                |Correcto
                            span Iniciando sesión...Estamos conectando con el servidor. El proceso puede tardar hasta cinco minutos.

                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/no-image.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--dont
                        p
                            span.ds-doDont__check
                                |Incorrecto
                            span Iniciando sesión...La aplicación tiene que  comunicarse con nuestros servidores para poder iniciar sesión correctamente. Ten paciencia, el proceso puede tardar hasta cinco minutos.

        h3 Tiempos verbales
        p Usa la voz activa como norma, te ayudará a conseguir implicar al usuario directamente en la decisión.
        .ds-doDont.u-spacer--3
            .row
                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/no-image.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--do
                        p
                            span.ds-doDont__check
                                |Correcto
                            span Usa la voz activa como norma, te ayudará a conseguir implicar al usuario directamente en la decisión.

                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/no-image.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--dont
                        p
                            span.ds-doDont__check
                                |Incorrecto
                            span Se han introducido más de 99 unidades, ¿el proceso debe continuarse?  
        p.u-spacer--3 La voz pasiva, en cambio, es muy útil cuando no queremos culpar al usuario o evitar sonar sentenciosos.
        .ds-doDont.u-spacer--3
            .row
                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/no-image.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--do
                        p
                            span.ds-doDont__check
                                |Correcto
                            span El valor introducido no es correcto.

                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/no-image.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--dont
                        p
                            span.ds-doDont__check
                                |Incorrecto
                            span Has introducido un valor incorrecto.

block ortotype
    section
        h3 "1, 2, 3” en vez de  “uno, dos, tres"
        p Excepto cuando se dan diferentes usos a los números en una misma frase. Por ejemplo, Introduce dos de los 3.
        .ds-doDont.u-spacer--3
            .row
                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/no-image.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--do
                        p
                            span.ds-doDont__check
                                |Correcto
                            span Tienes 3 mensajes

                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/no-image.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--dont
                        p
                            span.ds-doDont__check
                                |Incorrecto
                            span Tienes tres mensajes

        h3 Mayúsculas y minúsculas.
        p Los títulos, encabezados, etiquetas y elementos de menú deben tener la inicial en mayúsculas y el resto del texto en minúsculas (a no ser que haya un nombre propio, en cuyo caso pondremos la inicial también en mayúsculas).
        .ds-doDont.u-spacer--3
            .row
                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/no-image.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--do
                        p
                            span.ds-doDont__check
                                |Correcto
                            span Mi tienda
                                br 
                                |Mi agenda
                                br 
                                |Mis solicitudes

                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/no-image.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--dont
                        p
                            span.ds-doDont__check
                                |Incorrecto
                            span MI TIENDA

        h3 Días de la semana, meses y estaciones.
        p Siempre en minúsculas (excepto si van al comienzo de frase o después de un punto)
        .ds-doDont.u-spacer--3
            .row
                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/no-image.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--do
                        p
                            span.ds-doDont__check
                                |Correcto
                            span El archivo se enviará todos los lunes

                .col-xs-12.col-md-6.ds-doDont__box
                    .ds-doDont__wrap
                        img(alt="", src='../../../assets/img/no-image.png', class="ds-doDont__img")
                    .ds-doDont__txt.ds-doDont__txt--dont
                        p
                            span.ds-doDont__check
                                |Incorrecto
                            span El archivo se enviará todos los Lunes.
    section
        +mngDrop--voiceAndTone(["Dos puntos","Coma","Comillas","Guión bajo","Guión medio","Puntos suspensivos","Exclamación","Símbolo negativo","Paréntesis","Punto","Apóstrofe","Barra diagonal"]) 

        .ds-table--vertical-head

            //Dos puntos
            table.ds-table#tabla0(data-value="Dos puntos")
                +tbody-row(["Carácter",":"])
                +tbody-row(["HTML","&#58;"])
                tr
                    td Unicode
                    td
                        code \u003A
                tr
                    td Uso
                    td  
                        ul.ds-list
                            li.ds-list__item No usar en etiquetas.
                            li.ds-list__item Usar para comenzar a enumerar o listar.
                            li.ds-list__item No poner espacio después.
                +tbody-row(["Ejemplo",""])

            //Coma
            table.ds-table#tabla1(data-value="Coma")
                +tbody-row(["Carácter",","])
                +tbody-row(["HTML",""])
                +tbody-row(["Unicode",""])
                tr
                    td Uso
                    td
                        ul.ds-list
                            li.ds-list__item Usar para enumerar elementos dentro de una frase.  
                +tbody-row(["Ejemplo",""])

            //Comillas
            table.ds-table#tabla2(data-value="Comillas")
                +tbody-row(["Carácter","\u201C \u201D"])
                +tbody-row(["HTML","&ldquo;    &rdquo;"])
                tr
                    td Unicode
                    td
                        code \u201C    \u201D
                tr
                    td Uso
                    td  
                        ul.ds-list
                            li.ds-list__item Usar para enmarcar la reproducción de citas textuales.
                            li.ds-list__item Usar para indicar que una palabra o expresión es impropia, vulgar, procede de otra lengua o se utiliza irónicamente o con un sentido especial.           
                +tbody-row(["Ejemplo",""])

            //Guión bajo
            table.ds-table#tabla3(data-value="Guión bajo")
                +tbody-row(["Carácter","_"])
                +tbody-row(["HTML","&mdash;"])
                tr
                    td Unicode
                    td 
                        code \u2014
                tr
                    td Uso
                    td  
                        ul.ds-list
                            li.ds-list__item Usar en la mayoría de los casos el guion medio.
                +tbody-row(["Ejemplo",""])

            //Guión medio
            table.ds-table#tabla4(data-value="Guión medio")
                +tbody-row(["Carácter","-"])
                +tbody-row(["HTML",""])
                +tbody-row(["Unicode",""])
                tr
                    td Uso
                    td  
                        ul.ds-list
                            li.ds-list__item Usar para indicar un rango o listado, con espacio posterior.
                            li.ds-list__item No usar para separar texto, si lo necesitas para ello - como esto - úsalo con espacios. 
                tr
                    td Ejemplo
                    td
                        p Muebles:
                        ul
                            li - Altos
                            li - Bajos

            //Puntos suspensivos
            table.ds-table#tabla5(data-value="Puntos suspensivos")
                +tbody-row(["Carácter","..."])
                +tbody-row(["HTML","&hellip;"])
                +tbody-row(["Unicode",""])
                tr
                    td Uso
                    td  
                        ul.ds-list
                            li.ds-list__item Usar para indicar una acción en progreso o un texto incompleto o truncado. No poner espacio antes de los puntos suspensivos.
                            li.ds-list__item No usar en elementos del menú o botones que abren un cuadro de diálogo o inician un proceso.
                +tbody-row(["Ejemplo","Descargando..."])

            //Exclamación
            table.ds-table#tabla6(data-value="Exclamación")
                +tbody-row(["Carácter","¡!"])
                +tbody-row(["HTML",""])
                +tbody-row(["Unicode",""])
                tr
                    td Uso
                    td  
                        ul.ds-list
                            li.ds-list__item Evita los signos de exclamación ya que tienden a aparecer como gritos. Excepcionalmente se pueden usar en saludos, mensajes de felicitación o expresiones más coloquiales. 
                tr
                    td Ejemplo
                    td 
                        p ¡Hola!
                        |¡Gracias!

            //Símbolo negativo
            table.ds-table#tabla7(data-value="Símbolo negativo")
                +tbody-row(["Carácter","-"])
                +tbody-row(["HTML",""])
                +tbody-row(["Unicode",""])
                tr
                    td Uso
                    td  
                        ul.ds-list
                            li.ds-list__item Usar para representar números negativos, o para crear palabras compuestas.
                +tbody-row(["Ejemplo","-5"])
            
            //Paréntesis
            table.ds-table#tabla8(data-value="Paréntesis")
                +tbody-row(["Carácter","()"])
                +tbody-row(["HTML",""])
                +tbody-row(["Unicode",""])
                tr
                    td Uso
                    td  
                        ul.ds-list
                            li.ds-list__item Usa paréntesis para definir acrónimos o para especificar un tema.
                            li.ds-list__item No dejar espacios
                            li.ds-list__item Si hay que poner punto que sea al final
                +tbody-row(["Ejemplo","SSL (Secure Socket Layer)"])
            
            //Punto
            table.ds-table#tabla9(data-value="Punto")
                +tbody-row(["Carácter","."])
                +tbody-row(["HTML",""])
                +tbody-row(["Unicode",""])
                tr
                    td Uso
                    td  
                        ul.ds-list
                            li.ds-list__item Evita poner punto en listados con literales cortos. 
                            li.ds-list__item Pon punto en frases largas o complejas o en cualquier frase seguida de un link.
                +tbody-row(["Ejemplo",""])

            //Apóstrofe
            table.ds-table#tabla10(data-value="Apóstrofe")
                +tbody-row(["Carácter","'"])
                +tbody-row(["HTML",""])
                +tbody-row(["Unicode",""])
                tr
                    td Uso
                    td  
                        ul.ds-list
                            li.ds-list__item Para indicar minutos
                +tbody-row(["Ejemplo","3º 15' 35''"])
            
            //Barra diagonal
            table.ds-table#tabla11(data-value="Barra diagonal")
                +tbody-row(["Carácter","/"])
                +tbody-row(["HTML",""])
                +tbody-row(["Unicode",""])
                tr
                    td Uso
                    td  
                        ul.ds-list
                            li.ds-list__item Para separar las partes de una fecha (sin espacios).
                            li.ds-list__item Para declinar el número de un literal (sin espacios).

                tr
                    td Ejemplo
                    td
                        p dd/mm/aaaa 
                        | Solicitud/es

block paginator
    - var prev = "type";
    - var next = "accordion";
    +paginatorNav("paginatorOptions",[
        { 
            titPrev:"Typography",
            titNext:"Accordion",  
            familyPrev: "design", 
            familyNext: "components"
        }
    ])