mixin mngSteps()
	ol.c-mngSteps
		li.c-mngSteps__item.is-complete
			a.c-mngSteps__link(href='#') Detalles
		li.c-mngSteps__item.is-active
			a.c-mngSteps__link(href='#') Prendas
		li.c-mngSteps__item
			a.c-mngSteps__link(href='#') Resumen