$module: $c-prefix + 'Input';

$mngInput-border: $color-woodsmoke !default;
$mngInput-reverse-border: $color-bombay !default;
$mngInput-error-border: $color-pomegranate !default;
$mngInput-disabled-border: $color-bombay !default;

.#{$module} {
	@include mng-typescale(zeta);
	width: 100%;
	border: 0;
	border-bottom: 1px solid $mngInput-border;
	&__input {
		@include mng-rem(height, 34px);
		font-family: inherit;
		width: 100%;
		background-color: transparent;
		font-weight: 200;
		border: none;
		border-bottom: 1px solid transparent;
		&:focus {
			border-bottom-color: inherit;
		}
		&:disabled {
			pointer-events: none;
			cursor: not-allowed;
		}
	}
	&--reverse {
		border-color: $mngInput-reverse-border;
		input{
			color: $color-white;	
		}
		
	}
	&.is-error {
		border-color: $mngInput-error-border;
	}
	&.is-disabled {
		border-color: $mngInput-disabled-border;
		pointer-events: none;
	}
}