
mixin mngAccordion()
	article.c-mngAccordion
		section.c-mngAccordion__tab
			h2.c-mngAccordion__tit
				button.c-mngAccordion__btn(type='button')
					| Descripción del producto
					+svg-icon("down")(class="c-mngAccordion__ico")
			.c-mngAccordion__content
				.c-mngAccordion__inner
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu dui scelerisque libero porttitor convallis. Sed non sapien vel diam mattis porttitor vel vitae enim. Maecenas tristique erat at lorem lobortis bibendum. Cras viverra sollicitudin mauris at facilisis. Curabitur hendrerit odio ut purus porta, a dapibus felis scelerisque. In consequat orci quis fringilla ornare. Morbi vel augue feugiat, laoreet dui vitae, mattis quam. Praesent a lectus eu ipsum ullamcorper vestibulum.
					ul.o-menuList
						li.o-menuList__item Lorem ipsim sit amet dolor
						li.o-menuList__item Curabitur hendrerit odio ut purus porta, a dapibus felis scelerisque.
						li.o-menuList__item  Morbi vel augue feugiat, laoreet dui vitae.
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu dui scelerisque libero porttitor convallis. Sed non sapien vel diam mattis porttitor vel vitae enim. Maecenas tristique erat at lorem lobortis bibendum. Cras viverra sollicitudin mauris at facilisis.
		section.c-mngAccordion__tab
			h2.c-mngAccordion__tit
				button.c-mngAccordion__btn(type='button')
					| Detalles de composición
					+svg-icon("down")(class="c-mngAccordion__ico")
			.c-mngAccordion__content
				.c-mngAccordion__inner
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu dui scelerisque libero porttitor convallis. Sed non sapien vel diam mattis porttitor vel vitae enim. Maecenas tristique erat at lorem lobortis bibendum. Cras viverra sollicitudin mauris at facilisis. Curabitur hendrerit odio ut purus porta, a dapibus felis scelerisque. In consequat orci quis fringilla ornare. Morbi vel augue feugiat, laoreet dui vitae, mattis quam. Praesent a lectus eu ipsum ullamcorper vestibulum.
					ul.o-menuList
						li.o-menuList__item Lorem ipsim sit amet dolor
						li.o-menuList__item Curabitur hendrerit odio ut purus porta, a dapibus felis scelerisque.
						li.o-menuList__item  Morbi vel augue feugiat, laoreet dui vitae.
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu dui scelerisque libero porttitor convallis. Sed non sapien vel diam mattis porttitor vel vitae enim. Maecenas tristique erat at lorem lobortis bibendum. Cras viverra sollicitudin mauris at facilisis.
