mixin item(title, url)
	li.ds-mainNav__item
		a.ds-mainNav__link(href=url, class=active == title ? 'is-active' : '')= title

nav.ds-mainNav
	ul.ds-mainNav__list
		li.ds-mainNav__item
			b.ds-mainNav__tit
				| Diseño
				//+svg-icon("right")(class="o-mngIco--ml")
			ul.ds-mainNav__subList
				+item('Colores', '../design/design.colors.view.html')
				+item('Grid', '../design/design.grid.view.html')
				+item('Layout', '../design/design.layout.view.html')
				+item('Tipografía', '../design/design.type.view.html')
				+item('Voz y tono', '../design/design.voice.view.html')
		li.ds-mainNav__item
			strong.ds-mainNav__tit
				| Componentes
			ul.ds-mainNav__subList
				+item('Botones', '../components/components.button.view.html')
				+item('Breadcrumb', '../components/components.breadcrumb.view.html')
				+item('Checkbox', '../components/components.checkbox.view.html')
				+item('Enlaces', '../components/components.links.view.html')
				+item('Input', '../components/components.input.view.html')
				+item('Radios', '../components/components.radio.view.html')
				+item('Tabs', '../components/components.tabs.view.html')
				//Modales
				//Mensajes
				//tooltips