mixin item(title, url)
	li.ds-mainNav__item
		a.ds-mainNav__link(href=url, class=active == title ? 'is-active' : '')= title

nav.ds-mainNav
	ul.ds-mainNav__list
		li.ds-mainNav__item
			b.ds-mainNav__tit
				| Diseño
				//+svg-icon("right")(class="o-mngIco--ml")
			ul.ds-mainNav__subList
				+item('Color', '../design/design.colors.view.html')
				+item('Grid', '../design/design.grid.view.html')
				+item('Iconography', '../design/design.icons.view.html')
				+item('Layout', '../design/design.layout.view.html')
				+item('Typography', '../design/design.type.view.html')
				+item('Voice & tone', '../design/design.voice.view.html')
		li.ds-mainNav__item
			strong.ds-mainNav__tit
				| Componentes
			ul.ds-mainNav__subList
				+item('Accordion', '../components/components.accordion.view.html')
				+item('Breadcrumb', '../components/components.breadcrumb.view.html')
				+item('Buttons', '../components/components.button.view.html')
				+item('Checkbox', '../components/components.checkbox.view.html')
				//+item('Dropdown', '../components/components.dropdown.view.html')
				+item('Links', '../components/components.links.view.html')
				//+item('Modal', '../components/components.modal.view.html')
				//+item('Notifications', '../components/components.notifications.view.html')
				+item('Pagination', '../components/components.pagination.view.html')
				+item('Radio button', '../components/components.radio.view.html')
				+item('Steps', '../components/components.steps.view.html')
				+item('Switch', '../components/components.switch.view.html')
				+item('Tabs', '../components/components.tabs.view.html')
				+item('Textarea', '../components/components.textarea.view.html')
				+item('Text inputs', '../components/components.input.view.html')
				//+item('Toogle', '../components/components.toogle.view.html')
				+item('Tooltip', '../components/components.tooltip.view.html')