mixin item(title, url)
	li.ds-mainNav__item
		a.ds-mainNav__link(href=url, class=active == title ? 'is-active' : '')= title

nav.ds-mainNav
	ul.ds-mainNav__list
		li.ds-mainNav__item
			b.ds-mainNav__tit
				| Diseño
			ul.ds-mainNav__subList
				+item('Colores', '/app/views/design/design.colors.view.html')
				+item('Grid', '/app/views/design/design.grid.view.html')
				+item('Layout', '/app/views/design/design.layout.view.html')
				+item('Tipografía', '/app/views/design/design.type.view.html')
		li.ds-mainNav__item
			strong.ds-mainNav__tit
				| Componentes
			ul.ds-mainNav__subList
				+item('Botones', '/app/views/components/components.button.view.html')
				+item('Checkbox', '/app/views/components/components.checkbox.view.html')
				+item('Enlaces', '/app/views/components/components.links.view.html')
				+item('Input', '/app/views/components/components.input.view.html')
				+item('Paginador', '/app/views/components/components.pagination.view.html')
				+item('Radio Buttons', '/app/views/components/components.radio.view.html')
				+item('Tabs', '/app/views/components/components.tabs.view.html')