extends ../../_layouts/components.view.pug

block config
	- var active = "Radio Buttons";
	- var title = active;

block codeHead
	:markdown-it
		Los radio buttons se usan cuando el usuario tiene que seleccionar una sola opción de una lista.

block codeBody
	section
		h3 HTML
		section
			h4 Listado vertical
			.ds-sample
				ul.o-list
					li.o-list__item
						+mngRadio('Radio Button', 'ptt', 'pink')(checked)
					li.o-list__item
						+mngRadio('Radio Button', 'ptt2', 'pink')(disabled)
					li.o-list__item
						+mngRadio('Radio Button', 'ptt3', 'pink')
			pre
				code.language-html
					:markdown-it
						<ul class="o-list">
							<li class="o-list__item">
								<div class="c-mngRadio">
									<input class="c-mngRadio__radio u-hidden-visually" type="radio" value="red" name="radio" id="ptt" checked="checked">
									<label class="c-mngRadio__label" for="ptt"><span class="c-mngRadio__fake"></span>Radio Button
									</label>
								</div>
							</li>
							<li class="o-list__item">
								<div class="c-mngRadio">
									<input class="c-mngRadio__radio u-hidden-visually" type="radio" value="red" name="radio" id="ptt2" disabled="disabled">
									<label class="c-mngRadio__label" for="ptt2"><span class="c-mngRadio__fake"></span>Radio Button
									</label>
								</div>
							</li>
							<li class="o-list__item">
								<div class="c-mngRadio">
									<input class="c-mngRadio__radio u-hidden-visually" type="radio" value="red" name="radio" id="ptt3">
									<label class="c-mngRadio__label" for="ptt3"><span class="c-mngRadio__fake"></span>Radio Button
									</label>
								</div>
							</li>
						</ul>
			.ds-sample.ds-sample--inverse
				ul.o-list
					li.o-list__item
						+mngRadio('Radio Button', 'ptt10', 'green', 'c-mngRadio--reverse')(checked)
					li.o-list__item
						+mngRadio('Radio Button', 'ptt11', 'green', 'c-mngRadio--reverse')(disabled)
					li.o-list__item
						+mngRadio('Radio Button', 'ptt12', 'green', 'c-mngRadio--reverse')
			pre
				code.language-html
					:markdown-it
						<ul class="o-list">
							<li class="o-list__item">
								<div class="c-mngRadio">
									<input class="c-mngRadio__radio u-hidden-visually" type="radio" value="red" name="radio" id="ptt" checked="checked">
									<label class="c-mngRadio__label" for="ptt"><span class="c-mngRadio__fake"></span>Radio Button
									</label>
								</div>
							</li>
							<li class="o-list__item">
								<div class="c-mngRadio">
									<input class="c-mngRadio__radio u-hidden-visually" type="radio" value="red" name="radio" id="ptt2" disabled="disabled">
									<label class="c-mngRadio__label" for="ptt2"><span class="c-mngRadio__fake"></span>Radio Button
									</label>
								</div>
							</li>
							<li class="o-list__item">
								<div class="c-mngRadio">
									<input class="c-mngRadio__radio u-hidden-visually" type="radio" value="red" name="radio" id="ptt3">
									<label class="c-mngRadio__label" for="ptt3"><span class="c-mngRadio__fake"></span>Radio Button
									</label>
								</div>
							</li>
						</ul>
		section
			h4 Listado horizontal
			.ds-sample
				ul.o-list.o-list--inline
					li.o-list__item
						+mngRadio('Radio Button','ptt4', 'red')(checked)
					li.o-list__item
						+mngRadio('Radio Button', 'ptt5', 'red')(disabled)
					li.o-list__item
						+mngRadio('Radio Button', 'ptt6', 'red')
			pre
				code.language-html
					:markdown-it
						<ul class="o-list o-list--inline">
							<li class="o-list__item">
								<div class="c-mngRadio">
									<input class="c-mngRadio__radio u-hidden-visually" type="radio" id="ptt4" name="red" checked="checked">
									<label class="c-mngRadio__label" for="ptt4"><span class="c-mngRadio__fake"></span>Radio Button
									</label>
								</div>
							</li>
							<li class="o-list__item">
								<div class="c-mngRadio">
									<input class="c-mngRadio__radio u-hidden-visually" type="radio" id="ptt5" name="red" disabled="disabled">
									<label class="c-mngRadio__label" for="ptt5"><span class="c-mngRadio__fake"></span>Radio Button
									</label>
								</div>
							</li>
							<li class="o-list__item">
								<div class="c-mngRadio">
									<input class="c-mngRadio__radio u-hidden-visually" type="radio" id="ptt6" name="red">
									<label class="c-mngRadio__label" for="ptt6"><span class="c-mngRadio__fake"></span>Radio Button
									</label>
								</div>
							</li>
						</ul>
			.ds-sample.ds-sample--inverse
				ul.o-list.o-list--inline
					li.o-list__item
						+mngRadio('Radio Button','ptt7', 'violet', 'c-mngRadio--reverse')(checked)
					li.o-list__item
						+mngRadio('Radio Button', 'ptt8', 'violet', 'c-mngRadio--reverse')(disabled)
					li.o-list__item
						+mngRadio('Radio Button', 'ptt9', 'violet', 'c-mngRadio--reverse')
			pre
				code.language-html
					:markdown-it
						<ul class="o-list o-list--inline">
						<li class="o-list__item">
						<div class="c-mngRadio c-mngRadio--reverse">
						<input class="c-mngRadio__radio u-hidden-visually" type="radio" id="ptt7" name="red" checked="checked">
						<label class="c-mngRadio__label" for="ptt7"><span class="c-mngRadio__fake"></span>Radio Button
						</label>
						</div>
						</li>
						<li class="o-list__item">
						<div class="c-mngRadio c-mngRadio--reverse">
						<input class="c-mngRadio__radio u-hidden-visually" type="radio" id="ptt8" name="red" disabled="disabled">
						<label class="c-mngRadio__label" for="ptt8"><span class="c-mngRadio__fake"></span>Radio Button
						</label>
						</div>
						</li>
						<li class="o-list__item">
						<div class="c-mngRadio c-mngRadio--reverse">
						<input class="c-mngRadio__radio u-hidden-visually" type="radio" id="ptt9" name="red">
						<label class="c-mngRadio__label" for="ptt9"><span class="c-mngRadio__fake"></span>Radio Button
						</label>
						</div>
						</li>
						</ul>
block specification
	section
		h3 Desktop - Tablet
		ul.ds-specs.row
			each val in [1, 2, 3, 4]
				li.ds-specs__list.col-xs-12.col-md-6
					img(src="/assets/img/components/radio/specs/" + val + ".png", alt="")
block advice
	section
		h3 Recomendaciones
		.ds-doDont
			each dodont in SAMPLERADIO
				.row
					- for (var i = 0; i < dodont.info.length; i++)
						.col-xs-12.col-md-6.ds-doDont__box
							.ds-doDont__wrap
								img(alt="", src='/assets/img/components/radio/dodont/' + i + '.png').ds-doDont__img
							.ds-doDont__txt(class=dodont.info[i].uso === "Correcto" ? "ds-doDont__txt--do" : "ds-doDont__txt--dont")
								p
									span.ds-doDont__check= dodont.info[i].uso
									!= dodont.info[i].info


block paginator
	- var prev = "pagination";
	- var next = "colors";
	+paginator("paginatorOptions",[
		{ next: "Colores" , 
			prev: "Paginador", 
			familyPrev: "components", 
			familyNext: "design" 
		}
	])