
// block config
	- var nav = "breadcrumb";
	- var title = "Rastro de migas";


	.ds-sample
		+mngBreadCrumb()
	pre
		code.language-html
			:markdown-it
				<ol class="c-mngBreadCrumb">
					<li class="c-mngBreadCrumb__item"><a class="c-mngLink" href="#">Books</a></li>
					<li class="c-mngBreadCrumb__item"><a class="c-mngLink" href="#">Science Fiction</a></li>
					<li class="c-mngBreadCrumb__item"><a class="c-mngLink" href="#">Award Winners</a></li>
				</ol>
