extends ../../_layouts/components.view.pug

block config
	- var active = "Tabs" ;
	- var title = "Tabs";

block codeHead
	:markdown-it
		LLamamos Tabs al componente visual que vincula 2 o másopciones dispuestas de manera horizontal. Por defecto, siempreaparece una seleccionada.

block codeBody
	section
		h3 HTML
		section
			h4 Con 2 estados: activo e inactivo
			.ds-sample
				ul.o-list
					li.o-list__item
						+mngTabs('set2Tabs',["Tab 1","Tab 2"],0)
							+mngTabsPanel('set2Tabs',0,true)
								p Culpa laboris sit aute ad aliquip elit deserunt non et ut deserunt minim.
							+mngTabsPanel('set2Tabs',1,false)
								p Minim deserunt culpa enim nostrud adipisicing aliqua voluptate eiusmod aliquip anim.

			pre
				code.language-html
					:markdown-it
						<div class="c-mngTabs">
						<ul class="c-mngTabs__list" role="tablist">
						<li class="c-mngTabs__item"><a class="c-mngTabs__link is-active" href="#set2Tabs-0" role="tab">Tab 1</a></li>
						<li class="c-mngTabs__item"><a class="c-mngTabs__link" href="#set2Tabs-1" role="tab">Tab 2</a></li>
						</ul>
						<div class="c-mngTabs__content">
						<div class="c-mngTabs__panel" id="set2Tabs-0">
						<p>Culpa laboris sit aute ad aliquip elit deserunt non et ut deserunt minim.</p>
						</div>
						<div class="c-mngTabs__panel u-hidden" id="set2Tabs-1">
						<p>Minim deserunt culpa enim nostrud adipisicing aliqua voluptate eiusmod aliquip anim.</p>
						</div>
						</div>
						</div>
		section
			h4 Con 3 o más estados: activo e inactivo
			.ds-sample
				ul.o-list
					li.o-list__item
						+mngTabs('set3Tabs',["Tab 1","Tab 2","Tab 3"],0)
							+mngTabsPanel('set3Tabs',0,true)
								p Culpa laboris sit aute ad aliquip elit deserunt non et ut deserunt minim.
							+mngTabsPanel('set3Tabs',1,false)
								p Minim deserunt culpa enim nostrud adipisicing aliqua voluptate eiusmod aliquip anim.
							+mngTabsPanel('set3Tabs',2,false)
								p Reprehenderit officia aliquip deserunt anim minim eu voluptate sunt.

			pre
				code.language-html
					:markdown-it
						<div class="c-mngTabs">
						<ul class="c-mngTabs__list" role="tablist">
						<li class="c-mngTabs__item"><a class="c-mngTabs__link is-active" href="#set3Tabs-0" role="tab">Tab 1</a></li>
						<li class="c-mngTabs__item"><a class="c-mngTabs__link" href="#set3Tabs-1" role="tab">Tab 2</a></li>
						<li class="c-mngTabs__item"><a class="c-mngTabs__link" href="#set3Tabs-2" role="tab">Tab 3</a></li>
						</ul>
						<div class="c-mngTabs__content">
						<div class="c-mngTabs__panel" id="set3Tabs-0">
						<p>Culpa laboris sit aute ad aliquip elit deserunt non et ut deserunt minim.</p>
						</div>
						<div class="c-mngTabs__panel u-hidden" id="set3Tabs-1">
						<p>Minim deserunt culpa enim nostrud adipisicing aliqua voluptate eiusmod aliquip anim.</p>
						</div>
						<div class="c-mngTabs__panel u-hidden" id="set3Tabs-2">
						<p>Reprehenderit officia aliquip deserunt anim minim eu voluptate sunt.</p>
						</div>
						</div>
						</div>


block specification
	section
		h3 Desktop - Tablet
		ul.ds-specs.row
			each val in [1, 2, 3, 4]
				li.ds-specs__list.col-xs-12.col-md-6
					img(src="/assets/img/components/checkbox/specs/" + val + ".png", alt="")
block advice
	section
		h3 Recomendaciones
		.ds-doDont
			each dodont in SAMPLECHECKBOX
				.row
					- for (var i = 0; i < dodont.info.length; i++)
						.col-xs-12.col-md-6.ds-doDont__box
							.ds-doDont__wrap
								img(alt="", src='/assets/img/components/checkbox/dodont/' + i + '.png').ds-doDont__img
							.ds-doDont__txt(class=dodont.info[i].uso === "Correcto" ? "ds-doDont__txt--do" : "ds-doDont__txt--dont")
								p
									span.ds-doDont__check= dodont.info[i].uso
									!= dodont.info[i].info
block paginator
	- var next = "colors";
	- var prev = "radio";
	+paginatorNav("paginatorOptions",[
		{ 
			titPrev:"Botones",
			titNext:"Enlaces",  
			familyPrev: "components", 
			familyNext: "design" 
		}
	])
