

//block config
	- var nav = "steps";
	- var title = "Steps";
	- var desc = "";


	.ds-sample
		+mngSteps()
	pre
		code.language-html
			:markdown-it
				<ol class="c-mngSteps">
					<li class="c-mngSteps__item is-complete">
						<a href="#" class="c-mngSteps__link">Detalles</a>
					</li>
					<li class="c-mngSteps__item is-active">
						<a href="#" class="c-mngSteps__link">Prendas</a>
					</li>
					<li class="c-mngSteps__item">
						<a href="#" class="c-mngSteps__link">Resumen</a>
					</li>
				</ol>