

// block config
	- var active = "Button" ;
	- var title = "Button";


	.ds-sample
		+mngAccordion()
	pre
		code.language-html
			:markdown-it
				<article class="c-mngAccordion">
					<section class="c-mngAccordion__tab is-open">
						<h2 class="c-mngAccordion__tit">
						<button class="c-mngAccordion__btn" type="button">Descripción del producto
						<svg class="o-mngIco o-mngIco--down c-mngAccordion__ico">
						<use xlink:href="/icons/sprite.svg#down"></use>
						</svg>
						</button>
						</h2>
						<div class="c-mngAccordion__content">
						<div class="c-mngAccordion__inner">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu dui scelerisque libero porttitor convallis. Sed non sapien vel diam mattis porttitor vel vitae enim. Maecenas tristique erat at lorem lobortis bibendum. Cras viverra sollicitudin mauris at facilisis. Curabitur hendrerit odio ut purus porta, a dapibus felis scelerisque. In consequat orci quis fringilla ornare. Morbi vel augue feugiat, laoreet dui vitae, mattis quam. Praesent a lectus eu ipsum ullamcorper vestibulum.</p>
						<ul class="o-menuList">
						<li class="o-menuList__item">Lorem ipsim sit amet dolor</li>
						<li class="o-menuList__item">Curabitur hendrerit odio ut purus porta, a dapibus felis scelerisque.</li>
						<li class="o-menuList__item"> Morbi vel augue feugiat, laoreet dui vitae.</li>
						</ul>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu dui scelerisque libero porttitor convallis. Sed non sapien vel diam mattis porttitor vel vitae enim. Maecenas tristique erat at lorem lobortis bibendum. Cras viverra sollicitudin mauris at facilisis.</p>
						</div>
						</div>
					</section>
					<section class="c-mngAccordion__tab">
						<h2 class="c-mngAccordion__tit">
						<button class="c-mngAccordion__btn" type="button">Detalles de composición
						<svg class="o-mngIco o-mngIco--down c-mngAccordion__ico">
						<use xlink:href="/icons/sprite.svg#down"></use>
						</svg>
						</button>
						</h2>
						<div class="c-mngAccordion__content">
						<div class="c-mngAccordion__inner">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu dui scelerisque libero porttitor convallis. Sed non sapien vel diam mattis porttitor vel vitae enim. Maecenas tristique erat at lorem lobortis bibendum. Cras viverra sollicitudin mauris at facilisis. Curabitur hendrerit odio ut purus porta, a dapibus felis scelerisque. In consequat orci quis fringilla ornare. Morbi vel augue feugiat, laoreet dui vitae, mattis quam. Praesent a lectus eu ipsum ullamcorper vestibulum.</p>
						<ul class="o-menuList">
						<li class="o-menuList__item">Lorem ipsim sit amet dolor</li>
						<li class="o-menuList__item">Curabitur hendrerit odio ut purus porta, a dapibus felis scelerisque.</li>
						<li class="o-menuList__item"> Morbi vel augue feugiat, laoreet dui vitae.</li>
						</ul>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu dui scelerisque libero porttitor convallis. Sed non sapien vel diam mattis porttitor vel vitae enim. Maecenas tristique erat at lorem lobortis bibendum. Cras viverra sollicitudin mauris at facilisis.</p>
						</div>
						</div>
					</section>
				</article>