extends ../../_layouts/components.view.pug

block config
	- var active = "Checkbox" ;
	- var title = "Checkbox";
	- var desc = "";
	- var next = "links";
	- var prev = "button";

block codeHead
	:markdown-it
		Breve descripción. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend ex eget nunc faucibus, non suscipit libero viverra. Maecenas pretium, felis sit amet molestie blandit puipsum.

block codeBody
	h3 HTML
	section
		h4 Listado vertical
		.ds-sample
			ul.o-list
				li.o-list__item
					+mngCheck('Label 1','ptt', 'rr')
				li.o-list__item
					+mngCheck('Label 2', 'ptt2', 'rr')(disabled)
				li.o-list__item
					+mngCheck('Label 3','ptt3', 'rr', '', 'c-mngCheck__fake--indeterminate')
		pre
			code.language-html
				:markdown-it
					<ul class="o-list">
					<li class="o-list__item">
					<div class="c-mngCheck">
					<input class="c-mngCheck__checkbox u-hidden-visually" id="ptt" type="checkbox" name="rr">
					<label class="c-mngCheck__label" for="ptt"><span class="c-mngCheck__fake"></span>Label 1
					</label>
					</div>
					</li>
					<li class="o-list__item">
					<div class="c-mngCheck">
					<input class="c-mngCheck__checkbox u-hidden-visually" id="ptt2" type="checkbox" name="rr" disabled="disabled">
					<label class="c-mngCheck__label" for="ptt2"><span class="c-mngCheck__fake"></span>Label 2
					</label>
					</div>
					</li>
					<li class="o-list__item">
					<div class="c-mngCheck">
					<input class="c-mngCheck__checkbox u-hidden-visually" id="ptt3" type="checkbox" name="rr">
					<label class="c-mngCheck__label" for="ptt3"><span class="c-mngCheck__fake c-mngCheck__fake--indeterminate"></span>Label 3
					</label>
					</div>
					</li>
					</ul>
	section
		h4 Listado horizontal
		.ds-sample
			ul.o-list.o-list--inline
				li.o-list__item
					+mngCheck('Label 4','ptt4', 'rr')
				li.o-list__item
					+mngCheck('Label 5', 'ptt5', 'rr')(disabled)
				li.o-list__item
					+mngCheck('Label 6','ptt6', 'rr', '', 'c-mngCheck__fake--indeterminate')
		pre
			code.language-html
				:markdown-it
					<ul class="o-list o-list--inline">
					<li class="o-list__item">
					<div class="c-mngCheck">
					<input class="c-mngCheck__checkbox u-hidden-visually" id="ptt4" type="checkbox" name="rr">
					<label class="c-mngCheck__label" for="ptt4"><span class="c-mngCheck__fake"></span>Label 4
					</label>
					</div>
					</li>
					<li class="o-list__item">
					<div class="c-mngCheck">
					<input class="c-mngCheck__checkbox u-hidden-visually" id="ptt5" type="checkbox" name="rr" disabled="disabled">
					<label class="c-mngCheck__label" for="ptt5"><span class="c-mngCheck__fake"></span>Label 5
					</label>
					</div>
					</li>
					<li class="o-list__item">
					<div class="c-mngCheck">
					<input class="c-mngCheck__checkbox u-hidden-visually" id="ptt6" type="checkbox" name="rr">
					<label class="c-mngCheck__label" for="ptt6"><span class="c-mngCheck__fake c-mngCheck__fake--indeterminate"></span>Label 6
					</label>
					</div>
					</li>
					</ul>
	section
		h4 Conjunto de checkbox (inverso)
		.ds-sample.ds-sample--inverse
			ul.o-list
				li.o-list__item
					+mngCheck('Label 7','ptt7', 'rrr', 'c-mngCheck--reverse')
				li.o-list__item
					+mngCheck('Label 8', 'ptt8', 'rrr', 'c-mngCheck--reverse')(disabled)
				li.o-list__item
					+mngCheck('Label 9','ptt9', 'rrr', 'c-mngCheck--reverse', 'c-mngCheck__fake--indeterminate')
		pre
			code.language-html
				:markdown-it
					<ul class="o-list">
					<li class="o-list__item">
					<div class="c-mngCheck c-mngCheck--reverse">
					<input class="c-mngCheck__checkbox u-hidden-visually" id="ptt7" type="checkbox" name="rrr">
					<label class="c-mngCheck__label" for="ptt7"><span class="c-mngCheck__fake"></span>Label 7
					</label>
					</div>
					</li>
					<li class="o-list__item">
					<div class="c-mngCheck c-mngCheck--reverse">
					<input class="c-mngCheck__checkbox u-hidden-visually" id="ptt8" type="checkbox" name="rrr" disabled="disabled">
					<label class="c-mngCheck__label" for="ptt8"><span class="c-mngCheck__fake"></span>Label 8
					</label>
					</div>
					</li>
					<li class="o-list__item">
					<div class="c-mngCheck c-mngCheck--reverse">
					<input class="c-mngCheck__checkbox u-hidden-visually" id="ptt9" type="checkbox" name="rrr">
					<label class="c-mngCheck__label" for="ptt9"><span class="c-mngCheck__fake c-mngCheck__fake--indeterminate"></span>Label 9
					</label>
					</div>
					</li>
					</ul>
block use
block paginator
	+paginator("paginatorOptions",[
		{ next:"Enlaces" , 
			prev:"Botones", 
			familyPrev: "components", 
			familyNext: "components" 
		}
	])