

//block config
	- var nav = "toggle" ;
	- var title = "Toggle";

	.ds-sample
		+mngToggle("to1", "Ver MC", "Ver último año")
	pre
		code.language-html
			:markdown-it
				<div class="c-mngToggle">
					<input class="c-mngToggle__checkbox u-hidden-visually" id="toggle1" type="checkbox">
					<label class="c-mngToggle__label" for="toggle1">
						<span class="c-mngToggle__txt c-mngToggle__txt--left">Ver solo MC propuestos</span>
						<span class="c-mngToggle__toggle"></span>
						<span class="c-mngToggle__txt c-mngToggle__txt--right">Ver todo</span>
					</label>
				</div>