extends ../../_layouts/components.view.pug

block config
	- var active = "Checkbox";
	- var title = active;

block codeHead
	:markdown-it
		Los checkboxes se usan cuando es necesario mostrar una lista de opciones entre las cuales el usuario puede seleccionar las que desee, incluyendo la posibilidad de elegirlas todas o ninguna.

block codeBody
	section
		h3 HTML
		section
			h4 Listado vertical
			.ds-sample
				ul.o-list
					li.o-list__item
						+mngCheck('Checkbox','ptt', 'rr')
					li.o-list__item
						+mngCheck('Checkbox', 'ptt2', 'rr')(disabled)
					li.o-list__item
						+mngCheck('Checkbox','ptt3', 'rr', '', 'c-mngCheck__fake--indeterminate')
			pre
				code.language-html
					:markdown-it
						<ul class="o-list">
						<li class="o-list__item">
						<div class="c-mngCheck">
						<input class="c-mngCheck__checkbox u-hidden-visually" id="ptt" type="checkbox" name="rr">
						<label class="c-mngCheck__label" for="ptt"><span class="c-mngCheck__fake"></span>Checkbox
						</label>
						</div>
						</li>
						<li class="o-list__item">
						<div class="c-mngCheck">
						<input class="c-mngCheck__checkbox u-hidden-visually" id="ptt2" type="checkbox" name="rr" disabled="disabled">
						<label class="c-mngCheck__label" for="ptt2"><span class="c-mngCheck__fake"></span>Checkbox
						</label>
						</div>
						</li>
						<li class="o-list__item">
						<div class="c-mngCheck">
						<input class="c-mngCheck__checkbox u-hidden-visually" id="ptt3" type="checkbox" name="rr">
						<label class="c-mngCheck__label" for="ptt3"><span class="c-mngCheck__fake c-mngCheck__fake--indeterminate"></span>Checkbox
						</label>
						</div>
						</li>
						</ul>
			.ds-sample.ds-sample--inverse
				ul.o-list
					li.o-list__item
						+mngCheck('Checkbox','ptt7', 'rrr', 'c-mngCheck--reverse')
					li.o-list__item
						+mngCheck('Checkbox', 'ptt8', 'rrr', 'c-mngCheck--reverse')(disabled)
					li.o-list__item
						+mngCheck('Checkbox','ptt9', 'rrr', 'c-mngCheck--reverse', 'c-mngCheck__fake--indeterminate')
			pre
				code.language-html
					:markdown-it
						<ul class="o-list">
						<li class="o-list__item">
						<div class="c-mngCheck c-mngCheck--reverse">
						<input class="c-mngCheck__checkbox u-hidden-visually" id="ptt7" type="checkbox" name="rrr">
						<label class="c-mngCheck__label" for="ptt7"><span class="c-mngCheck__fake"></span>Checkbox
						</label>
						</div>
						</li>
						<li class="o-list__item">
						<div class="c-mngCheck c-mngCheck--reverse">
						<input class="c-mngCheck__checkbox u-hidden-visually" id="ptt8" type="checkbox" name="rrr" disabled="disabled">
						<label class="c-mngCheck__label" for="ptt8"><span class="c-mngCheck__fake"></span>Checkbox
						</label>
						</div>
						</li>
						<li class="o-list__item">
						<div class="c-mngCheck c-mngCheck--reverse">
						<input class="c-mngCheck__checkbox u-hidden-visually" id="ptt9" type="checkbox" name="rrr">
						<label class="c-mngCheck__label" for="ptt9"><span class="c-mngCheck__fake c-mngCheck__fake--indeterminate"></span>Checkbox
						</label>
						</div>
						</li>
						</ul>
		section
			h4 Listado horizontal
			.ds-sample
				ul.o-list.o-list--inline
					li.o-list__item
						+mngCheck('Checkbox','ptt4', 'rr')
					li.o-list__item
						+mngCheck('Checkbox', 'ptt5', 'rr')(disabled)
					li.o-list__item
						+mngCheck('Checkbox','ptt6', 'rr', '', 'c-mngCheck__fake--indeterminate')
			pre
				code.language-html
					:markdown-it
						<ul class="o-list o-list--inline">
						<li class="o-list__item">
						<div class="c-mngCheck">
						<input class="c-mngCheck__checkbox u-hidden-visually" id="ptt4" type="checkbox" name="rr">
						<label class="c-mngCheck__label" for="ptt4"><span class="c-mngCheck__fake"></span>Checkbox
						</label>
						</div>
						</li>
						<li class="o-list__item">
						<div class="c-mngCheck">
						<input class="c-mngCheck__checkbox u-hidden-visually" id="ptt5" type="checkbox" name="rr" disabled="disabled">
						<label class="c-mngCheck__label" for="ptt5"><span class="c-mngCheck__fake"></span>Checkbox
						</label>
						</div>
						</li>
						<li class="o-list__item">
						<div class="c-mngCheck">
						<input class="c-mngCheck__checkbox u-hidden-visually" id="ptt6" type="checkbox" name="rr">
						<label class="c-mngCheck__label" for="ptt6"><span class="c-mngCheck__fake c-mngCheck__fake--indeterminate"></span>Checkbox
						</label>
						</div>
						</li>
						</ul>
			.ds-sample.ds-sample--inverse
				ul.o-list.o-list--inline
					li.o-list__item
						+mngCheck('Checkbox','ptt10', 'rr', 'c-mngCheck--reverse')
					li.o-list__item
						+mngCheck('Checkbox', 'ptt11', 'rr', 'c-mngCheck--reverse')(disabled)
					li.o-list__item
						+mngCheck('Checkbox','ptt12', 'rr', 'c-mngCheck--reverse', 'c-mngCheck__fake--indeterminate')
			pre
				code.language-html
					:markdown-it
						<ul class="o-list o-list--inline">
						<li class="o-list__item">
						<div class="c-mngCheck c-mngCheck--reverse">
						<input class="c-mngCheck__checkbox u-hidden-visually" id="ptt10" type="checkbox" name="rr">
						<label class="c-mngCheck__label" for="ptt10"><span class="c-mngCheck__fake"></span>Checkbox
						</label>
						</div>
						</li>
						<li class="o-list__item">
						<div class="c-mngCheck c-mngCheck--reverse">
						<input class="c-mngCheck__checkbox u-hidden-visually" id="ptt11" type="checkbox" name="rr" disabled="disabled">
						<label class="c-mngCheck__label" for="ptt11"><span class="c-mngCheck__fake"></span>Checkbox
						</label>
						</div>
						</li>
						<li class="o-list__item">
						<div class="c-mngCheck c-mngCheck--reverse">
						<input class="c-mngCheck__checkbox u-hidden-visually" id="ptt12" type="checkbox" name="rr">
						<label class="c-mngCheck__label" for="ptt12"><span class="c-mngCheck__fake c-mngCheck__fake--indeterminate"></span>Checkbox
						</label>
						</div>
						</li>
						</ul>

block specification
	section
		h3 Desktop - Tablet
		ul.ds-specs.row
			each val in [1, 2, 3, 4]
				li.ds-specs__list.col-xs-12.col-md-6
					img(src="../../../assets/img/components/checkbox/specs/" + val + ".png", alt="")
block advice
	section
		h3 Recomendaciones
		.ds-doDont
			each dodont in SAMPLECHECKBOX
				.row
					- for (var i = 0; i < dodont.info.length; i++)
						.col-xs-12.col-md-6.ds-doDont__box
							.ds-doDont__wrap
								img(alt="", src='../../../assets/img/components/checkbox/dodont/' + i + '.png').ds-doDont__img
							.ds-doDont__txt(class=dodont.info[i].uso === "Correcto" ? "ds-doDont__txt--do" : "ds-doDont__txt--dont")
								p
									span.ds-doDont__check= dodont.info[i].uso
									!= dodont.info[i].info
block paginator
	- var next = "dropdown";
	- var prev = "button";
	+paginatorNav("paginatorOptions",[
		{
			titPrev:"Button", 
			titNext:"Dropdown", 
			familyPrev: "components", 
			familyNext: "components" 
		}
	])