extends ../../_layouts/components.view.pug

block config
	- var active = "Accordion";
	- var title = active;

block codeHead
	:markdown-it
		Permite a los usuarios expandir y contraer secciones de contenido.

block codeBody
	section
		h3 HTML
		section
			h4 Accordion contraído
			img(src="../../../assets/img/components/accordion/code/1.png", alt="")
					
		section
			h4 Accordion expandido
			img(src="../../../assets/img/components/accordion/code/2.png", alt="")
			img(src="../../../assets/img/components/accordion/code/3.png", alt="", style="margin-top: 36px;")

block specification
	section
		h3 Desktop - Tablet
		ul.ds-specs.row
			each val in [1,2,3,4]
				li.ds-specs__list.ds-specs__list--full.col-xs-12
					img(src="../../../assets/img/components/accordion/specs/general/" + val + ".png", alt="")

block advice
	h3 Recomendaciones
	.ds-doDont
		each dodont in SAMPLEACCORDION
			.row
				- for (var i = 0; i < dodont.info.length; i++)
					.col-xs-12.col-md-6.ds-doDont__box
						.ds-doDont__wrap
							img(alt="", src='../../../assets/img/components/accordion/dodont/' + i + '.png').ds-doDont__img
						.ds-doDont__txt(class=dodont.info[i].uso === "Correcto" ? "ds-doDont__txt--do" : "ds-doDont__txt--dont")
							p
								span.ds-doDont__check= dodont.info[i].uso
								!= dodont.info[i].info

block paginator
	- var prev = "voice";
	- var next = "breadcrumb";
	
	+paginatorNav("paginatorOptions",[
		{ 
			titPrev: "Voice & tone",
			titNext:"Breadcrumb",
			familyPrev: "design",
			familyNext: "components"
		}
	])